{% block content %}
    {% if not expired or request.user == paste.author %}
        {% if not private %}
   {% if password or request.user == paste.author %}
    {{ paste.author }}
    {{ paste.date }}
    {{ paste.text }}
       {% else %}
       <p>Please provide password</p>
       <br>
       <form action="{% url 'get_text' paste.pk %}">
       <input type="text" placeholder="Enter password" name="p">
           <br>
           <input type="submit">
       </form>
    {% endif %}
            {% else %}
            <p>Sorry it is private now</p>
            {% endif %}
        {% else %}
        <p>Sorry it is expired now</p>
    {% endif %}
{% endblock %}